<h1>Login area</h1>
<div class="login login-section <%= loginClasses %>">
  <h4>Click to log in</h4>
  <button class="login-button">Log in now</button>
</div>
<div class="enter-user-name login-section <%= enterUserNameClasses %>">
  <h4>Click to set your username</h4>
  <input class="enter-user-name-input" type="text"/>
  <button class="set-name-button">Set user name</button>
</div>
<div class="name-in-use login-section <%= nameInUseClasses %>">
  Sorry, that name is in use. Please enter a different name.
</div>
<div class="logged-in-region login-section <%= loggedInClasses %>">
  <div class="logged-in">Welcome, <%= name %></div>
  <button class="log-out-button">Log out</button>
</div>